{%- if resources is defined -%}
## Affected resources
{% for resource in resources -%}
- {{ resource.InstanceId or resource }} | {{ resource.Service or 'N/A' }} | {{resource.ProductDomain or 'N/A'}}
{% endfor -%}
{%- endif -%}
## Description
{{ eventDescription }}